* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

#container {
  width: 900px;
  /* height: 600px; */
  border: 1px solid black;
  margin: 0 auto;
}

#tableHeader {
  display: flex;
  flex-direction: row;
}

#tableHeader h1 {
  width: calc(100% / 4);
  border: 0.2px solid black;
  text-align: center;
}

.rowHolder {
  display: flex;
}

.rowHolderText {
  width: calc(100% / 4);
  border: 0.2px solid black;
  text-align: center;
}
