/* 
 */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* background-color: #d9cab3; */
}

html,
body {
  background-color: #d9cab3;
}

#container {
  padding: 1em;
  width: 80vw;
  background-color: #d9cab3;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

.urgentMessageContainer {
  display: flex;
  /* justify-content: ; */
  align-items: center;
}

.urgentMessageContainer p {
  margin-left: 20px;
}

p {
  font-family: "Roboto", sans-serif;
}
#nav-bar {
  width: 100%;
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#nav-bar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  /* margin-bottom: 20px; */
}

#nav-bar a {
  text-decoration: none;
  color: black;
}

#nav-bar li {
  line-height: 50px;
  margin-left: 20px;
}

#nav-bar-minimised ul {
  list-style-type: none;
  font-size: 25px;
}

#nav-bar-minimised li {
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

#nav-bar-minimised {
  width: 60px;
  background-color: black;
  padding: 10px;
  display: none;
}

#landing-page {
  height: 100vh;
  background-color: #d9cab3;
}

.introduction-text-holder {
  padding-top: 20px;
  width: 90%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* text-align: left; */
}

#about-me {
  /* height: 65vh; */
  margin-bottom: 70px;
  border-top: 2px solid #f6f6f6;
  border-bottom: 2px solid #f6f6f6;
  padding-top: 50px;
  /* background-color: #cdf2ca; */
}

#about-me h1,
#projectSection h1,
#contact-me h1 {
  /* margin-bottom: 20px; */
  font-size: 40px;
  font-weight: bold;
}

#aboutMeLine {
  border-top: 8px solid #6d9886;
  width: 10%;
  margin-bottom: 25px;
}

#timeline {
  margin-top: 30px;
}

.timelineIcon {
  margin-left: 30px;
  margin-bottom: 20px;
}

#timelineLeft {
  margin-bottom: 20px;
  border-left: solid #f6f6f6 3px;
  padding-left: 15px;
}

#timelineRight,
#timelineRightFirst {
  margin-bottom: 40px;

  border-left: solid #f6f6f6 3px;
  padding-left: 15px;
}

#hereResume {
  font-weight: bold;
  text-decoration: none;
  color: #212121;
}

.firstLineText,
.secondLineText {
  margin-bottom: 15px;
  text-align: justify;
}

#timelineRight ul {
  margin-left: 20px;
}

#projectSection {
  margin-top: 25px;
  width: 100%;
  /* height: 140vh; */
}

.project-container {
  /* height: 20vh; */
  width: 100%;
  /* position: relative; */
  margin-bottom: 30px;
  margin-top: 50px;
  background-color: #212121;
  color: black;
  border-radius: 10px;
  box-shadow: 10px 10px #212121 5px;
}

.project-title {
  margin-bottom: 10px;
  background-color: #f6f6f6;
}

.project-description-container p {
  background-color: #f6f6f6;
}

#projectSection h1 {
  margin-bottom: 25px;
  font-size: 40px;
}

#projectSection a {
  background-color: #f6f6f6;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.project-description-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f6f6;
  height: 30%;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.imageFour {
  height: 100%;
}

#contact-me h1 {
  margin-bottom: 15px;
  font-size: 40px;
}

#contactMeContainer {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
}

#contactMeContainer p,
#contactMeContainer input {
  margin-bottom: 15px;
}

/* try parallax */
.introduction-text-holder {
  position: relative;
  /* border: black 0.5px solid; */
  padding-bottom: 20px;
  border-right: #f6f6f6 solid 2px;
  border-bottom: #f6f6f6 solid 2px;
}

#hiText,
#textSecondLayer,
#textThirdLayer {
  /* position: absolute; */
  margin-bottom: 20px;
  width: 100%;
  /* text-align: center; */
}

#textSecondLayer {
  margin-top: 30px;
  font-size: 40px;
}
#textThirdLayer {
  font-size: 30px;
}

#developerText {
  text-decoration: underline;
}

#hiText {
  margin-bottom: 10px;
  margin-top: 40px;
  /* aku try */
  font-size: 50px;
  font-weight: bold;
  height: 250px;
}

.project-image {
  height: 60%;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  /* max-height: 300px; */
  /* display: none; */
}

/* image save for bigger width */

.project-description {
  text-align: justify;
  margin-bottom: 15px;
  background-color: #212121;
}

#userName {
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 60px;
  font-weight: bold;
}

#userNameEmail {
  font-weight: bold;
  text-decoration: underline;
}

.email-text {
  font-family: "Roboto", sans-serif;
}

.project-container {
  background-color: #f6f6f6;
  margin-bottom: 20px;
  padding: 15px;
}

form {
  height: 100px;
}

input {
  line-height: 40px;
}

#bottomBar {
  margin-top: 70px;
  background-color: #212121;

  padding: 10px;
  width: 100%;
}

#bottombarClass {
  width: 80vw;
  background-color: #212121;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#bottomBar a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#submitButton {
  width: 70px;
}

#contact-me {
  margin-top: 60px;
  border-top: 2px solid #f6f6f6;
  padding-top: 50px;
}

/* responsive design starts here */
@media (min-width: 800px) {
  #hiText {
    margin-bottom: 10px;
    margin-top: 40px;
    /* aku try */
    font-size: 90px;
    font-weight: bold;
    height: 250px;
  }

  #textSecondLayer {
    margin-top: 30px;
    font-size: 40px;
  }
  #textThirdLayer {
    font-size: 30px;
  }

  #userName {
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 75px;
    font-weight: bold;
  }

  #about-me h1 {
    /* margin-bottom: 20px; */
    font-size: 60px;
    font-weight: bold;
  }

  .introduction-text-holder {
    position: relative;
    /* border: black 0.5px solid; */
    border-right: #f6f6f6 solid 6px;
    border-bottom: #f6f6f6 solid 6px;
  }

  #timelineLeft,
  #timelineRightFirst,
  #timelineRight {
    opacity: 0;
  }
}

@media (min-width: 1000px) {
  #about-me {
    height: 100vh;
  }

  #contact-me {
    margin-bottom: 50px;
  }

  #contact-me li {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  .project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .project-description-container {
    max-width: 50%;
    margin: 0 15px;
  }

  #timeline {
    display: flex;
    flex-direction: column;
  }

  #timelineRight,
  #timelineRightFirst {
    align-self: flex-end;
    width: 40%;
    border-left: solid #f6f6f6 6px;
  }

  #timelineLeft {
    border-left: none;
    border-right: solid #f6f6f6 6px;
    width: 40%;
  }
}
